.promo{
    background-color: rebeccapurple;
    color:white;
    text-align: 
    center;
    height: 50vh;;
}
h1{
    padding-top: 100px;
    font-size: 72px;
}
h3{
    padding-top:65px;
    font-size: 50px;
    color:black;
    text-align:
    center;
}
.about-img{
    width: 250px;
    float: right;
    border-radius:50% ;
}
